.white-text{
	color: #ffffff;
}
.gray-text{
	color: #808080;
}
.silver-text{
	color: #c0c0c0;
}
.black-text{
	color: #000000;
}
.red-text{
	color: #ff0000;
}
.green-text{
	color: #008000;
}
.blue-text{
	color: #0000ff;
}
.purple-text{
	color: #800080;
}
.pink-text{
	color: pink;
}
.lime-text{
	color: #00FF00;
}
.aqua-text{
	color: #00ffff;
}
.orange-text{
	color: #FFA500;
}
.yellow-text{
	color: #ffff00;
}
.lime-text{
	color: #00ff00;
}